:root {
  --primary-color: #3f4f3c;
  --secondary-color: #8e9b73;
  --color--acent: #8c7a3e;
  /* Neutrals */
  --color-background: #f7f8f5;
  --color-text-primary: #1f1f1f;
  --color-text-secondary: #b0b6ba;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-text-secondary);
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p,
span,
li,
div,
button,
input,
a {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header {
  background: var(--primary-color);
  color: var(--color-background);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: var(--color-background);
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 30px;
}

.nav-item {
  color: var(--color-background);
  text-decoration: none;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: var(--secondary-color);
  transition: 0.3s;
}

#main-footer {
  background-color: var(--color-text-primary);
  color: var(--color-background);
  padding: 30px 40px;
  text-align: center;
}

.hero {
  background: linear-gradient(135deg, #3f4f3c 0%, #8e9b73 100%);
  color: #f7f8f5;
  padding: 60px 40px;
  text-align: center;
}
.hero h1 {
  font-size: 2.5rem;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #b0b6ba;
  text-align: center;
  cursor: pointer;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
    margin: 20px 0;
    width: 70%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card-icon {
  font-size: 60px;
  margin-bottom: 20px;
}

.card h3 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  color: #3f4f3c;
  margin-bottom: 15px;
}

.card p {
  color: #1f1f1f;
  font-size: 16px;
  line-height: 1.6;
}
